

    * {
        box-sizing: border-box;
    }
    
    /*                  style de toute la page                       */
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }



    /*                          Navbar                               */
    .navbar {
        overflow: hidden;
        background-color: white;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }

    .navbar a {
        display: block;
        color: #2C74FF;
        text-align: center;
        padding: 5px 10px;
        text-decoration: none;

    }

    .corps{
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        height: 800px;

    }

    .droite{
        color:black;
        text-decoration-style: solid;
        -ms-flex: 20%; /* IE10 */
        flex: 20%;
        /* background-color: white; */
        height: 780px;
        /* background-color: rgb(62, 62, 243); */
        background-color:#2c72ff44 ;


    }

    .gauche{

        -ms-flex: 80%; /* IE10 */
        flex: 80%;
        /* background-color: black; */
        height: 800px;

    }



    .blank{
        padding: 20px;
    }

    .blank2{
        padding : 100px ;
    }


    /*                      bloc1                                      */

    .bloc1 {  
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        border: solid ;
        border-width:thick; 
        border-color:#2C74FF ;
        margin-left: 50px;
        margin-right: 50px;
    }


    .bloc-side {
        -ms-flex: 44%; /* IE10 */
        flex: 44%;
        background-color: white;
        
    }

    .bloc-verbatim { 
        padding-top: 90px; 
        padding-right: 10px; 
        -ms-flex: 56%; /* IE10 */
        flex: 56%;
        background-color: white;
        color:black;
    
    }


    /*                         informations                          */
    .informations{
        padding-left: 50px;
        padding-right: 50px;
    }

    /*                       Bloc presentation parents                                  */


    .parents {
        padding: 80px;
        text-align: center;
        background: #2C74FF;
        color: white;
    }

    .parents h2 {
        font-size: 50px;
    }


    li {
    color: black;
    /* float: left; */
	display: block;
	/* border: 1px solid black; */
	padding: 10px;
	margin : 2px;
    }
