
* {
    box-sizing: border-box;
}



/*bienvenue */

.bienvenue{
  padding: 50px;
  text-align:center;
}


/* corps de la page */
.corps{
        height: 1500px;
        display:-ms-flexbox; 
        display: flex;
        flex:100%;
    }

/*  corps de la page  à gauche                                               */
.gauche{
    height: 400px; width: 300px;
    background-color:#dce7f5;
    margin-left: 10px;
    flex-wrap: 25%;
    flex: 25%;
    height: 1500px;
    }

/* corps de la page a droite */
.droite{
    flex-wrap: 80%;
    flex: 80%;
    background-color: white;
    height: 1500px;
}
    
.infos{
  height: 200px;
  width: 600px;
  margin-left: 250px;
  margin-top:30px;
  border: 3px black solid;
  background-color:#dce7f5;
}

.formation{
  margin-top:50px;
  margin-left: 100px;
  height:300px;
  width: 1000px;
  background-color:#2059a3;
  border: 3px rgb(0, 0, 0) solid;
}

table {
  margin-top:10px;
  border:2px solid black;
  border-collapse:collapse;
  width:90%;
  margin:auto;
  }

  thead{
    background-color:#c6d9f1;
    border:1px solid black;
    }

    tbody {
    background-color:#FFFFFF;
    border:1px solid black;
    color:black;
    }

    th {
    font-family:monospace;
    border:1px dotted black;
    padding:5px;
    background-color:#EFF6FF;
    width:25%;
    }

    td {
    font-family:sans-serif;
    font-size:80%;
    border:1px solid black;
    padding:5px;
    text-align:left;
    }

/* bouton déconnection */
#bouton{
        /* background-color: black; */
        width: 200px; height: 80px;
        /* margin-top: 50px; */
        margin-left: 800px;

}


/* bouton supprimer compte */
.blank{
    margin:auto;
  padding:40px;
}


